* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #130f40;
	color: #fff;
}

a {
	text-decoration: none;
	color: #ffd32a;
	padding: 16px;
}

a,
button {
	cursor: pointer;
}

small {
	font-size: 0.8rem;
	font-style: italic;
	font-weight: 300;
	color: #ccc;
	margin-top: 3px;
}

.loading-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
	text-align: center;
	margin-top: -50px;
}

.loading {
	padding: 16px;
	margin: 0 auto;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
}

.title {
	color: #ffd32a;
	border-bottom: 1px solid #ffd32a;
	padding: 16px;
}

.title span {
	font-weight: 200;
	color: #a87ee5;
}

.active {
	background: #ffd32a;
	color: #130f40;
	padding: 16px 24px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.nav ul {
	list-style: none;
	display: flex;
	padding: 16px;
	justify-content: flex-start;
	text-decoration: none;
}

.add-post {
	border: 2px solid #ffd32a;
	background: transparent;
	padding: 16px 24px;
	color: #ffd32a;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px auto;
	width: 500px;
}

.add-post-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 15px;
	padding: 16px;
}

.add-post-form input,
.add-post-form textarea,
.add-post-form select {
	background: transparent;
	border: none;
	border: 1px solid #ffd32a;
	outline: none;
	color: #fff;
	margin: 15px 0;
	width: 100%;
	padding: 16px 0;
	text-indent: 10px;
}

.add-post-form select option {
	color: #fff;
	background: #130f40;
}

.btn-submit {
	padding: 16px 24px;
	background: #ffd32a;
	color: #130f40;
	border: none;
	text-transform: uppercase;
}

.sort {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sort a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
}

.sort a small {
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
}

.sort a small:hover {
	color: #ffd32a;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.no-comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.no-comments p {
	color: #fff;
	margin-top: 30px;
}

.comments {
	color: #ffd32a;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.comment-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card,
.comment {
	border: 2px solid #ffd32a;
	width: 350px;
	height: 100%;
	min-height: 250px;
	margin: 16px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(238, 82, 82, 1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(238, 82, 82, 1);
	box-shadow: 0px 0px 5px 0px rgba(238, 82, 82, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	padding: 10px 24px;
	text-align: justify;
	border-radius: 10px;
}

.comment {
	min-height: 0;
	background: #ffd32a;
	color: #130f40;
	border: 1px solid #a87ee5;
	text-transform: none;
	padding: 16px;
}

.comment h3 {
	color: #130f40;
}

.comment small {
	color: #181818;
	margin: 10px 0;
}


.comment .actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.comment > .actions span {
	cursor: pointer;
}

.comment > .actions span:hover {
	color: #fff;
}

.comment .actions a {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #130f40;
	padding: 5px;
}

.comment .actions a span {
	font-size: 1.1rem;
	margin-left: 10px;
}

.comment .actions .votes {
	display: flex;
}

.comment .actions .votes span {
	color: #130f40;
}

.comment .actions .total {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.comment .actions .total small {
	color: #130f40;
	font-style: normal;
	font-weight: 700;
}

.card-title {
	font-size: 1.5rem;
}

.card h5 {
	margin: 15px 0;
}

.card p {
	flex: 1;
	margin-top: 15px;
}

.actions {
	width: 100%;
	display: flex;
	font-size: 1.75rem;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
}

.actions a,
button {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
}

.actions button {
	background: transparent;
	color: #ffd32a;
	font-size: 1.75rem;
}

.actions button small {
	font-style: normal;
	color: #ffd32a;
}

.actions a:hover,
button:hover {
	color: #fff;
}

.actions a span {
	font-size: 1.1rem;
	margin-left: 10px;
}

.actions a small {
	color: inherit;
	font-style: normal;
	margin-top: 3px;
}

.votes {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #a87ee5;
	padding: 5px;
	border-radius: 3px;
}

.votes > svg {
	cursor: pointer;
}

.votes > svg:hover {
	color: #fff;
}

.votes span {
	color: #ffd32a;
	font-weight: 700;
	font-size: 1.1rem;
	padding: 1px;
	border-radius: 5px;
}

.total {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.total small {
	color: #ffd32a;
	font-style: normal;
	font-weight: 700;
}
