* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #130f40;
	color: #fff;
}

a {
	text-decoration: none;
	color: #ee5253;
	padding: 16px;
}

a,
button {
	cursor: pointer;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
}

.title {
	color: #ee5253;
	border-bottom: 1px solid #ee5253;
	padding: 16px;
}

.active {
	background: #ee5253;
	color: #130f40;
	padding: 16px 24px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.nav ul {
	list-style: none;
	display: flex;
	padding: 16px;
	justify-content: flex-start;
	text-decoration: none;
}

.add-post {
	border: 2px solid #ee5253;
	background: transparent;
	padding: 16px 24px;
	color: #ee5253;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	margin: 50px auto;
	transition: background 0.5s ease-out;
}

.add-post:hover {
	background: #ee5253;
	color: #130f40;
	transition: background 0.5s ease-in;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	border: 2px solid #ee5253;
	width: 250px;
	margin: 16px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(238, 82, 82, 1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(238, 82, 82, 1);
	box-shadow: 0px 0px 5px 0px rgba(238, 82, 82, 1);
}
